NODE_ENV=production
PORT=3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD={{ app_db_password }}
POSTGRES_DB=app
DATABASE_URL=postgresql://postgres:{{ app_db_password }}@postgres:5432/app?schema=public

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD={{ vpn_admin_password }}

TELEGRAM_BOT_TOKEN={{ telegram_bot_token }}
ENCRYPTION_KEY={{ encryption_key }}

VPN_PANEL_URL=https://{{ domain_name }}
VPN_ADMIN_USERNAME={{ vpn_admin_username }}
VPN_ADMIN_PASSWORD={{ vpn_admin_password }}
DOMAIN_NAME={{ domain_name }}
THREE_X_UI_INBOUND_ID={{ three_x_ui_inbound_id }}
THREE_X_UI_WEB_BASE_PATH={{ three_x_ui_web_base_path }}
