NODE_ENV=production
PORT=3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD={{ app_db_password }}
POSTGRES_DB=app
DATABASE_URL=postgresql://postgres:{{ app_db_password }}@postgres:5432/app?schema=public

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD={{ vpn_admin_password }}

TELEGRAM_BOT_TOKEN={{ telegram_bot_token }}
ENCRYPTION_KEY={{ encryption_key }}

VPN_PANEL_URL=http://host.docker.internal:8000
VPN_ADMIN_USERNAME={{ vpn_admin_username }}
VPN_ADMIN_PASSWORD={{ vpn_admin_password }}
DOMAIN_NAME={{ domain_name }}
MARZBAN_INBOUND_TAG={{ marzban_inbound_tag }}
