services:
  marzban:
    image: {{ marzban_image }}
    container_name: marzban
    restart: always
    network_mode: host
    environment:
      - UVICORN_HOST=127.0.0.1
      - UVICORN_PORT=8000
      - SUDO_USERNAME={{ vpn_admin_username }}
      - SUDO_PASSWORD={{ vpn_admin_password }}
    volumes:
      - {{ panel_dir }}/data:/var/lib/marzban
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
